@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .active {
    @apply bg-teal-400;
  }
  .selected {
    @apply w-2/5 cursor-pointer rounded-xl border-2 border-solid border-white  bg-[mediumblue] p-2 text-center text-lg font-light;
  }
  .answer {
    @apply w-2/5 cursor-pointer rounded-xl border-2 border-solid border-white bg-gradient-to-t from-[#0e0124] to-[#22074d] p-2 text-center text-lg font-light hover:from-[mediumblue] hover:to-[mediumblue];
  }
  .answer:disabled {
    @apply w-2/5 cursor-default rounded-xl border-2 border-solid border-white bg-gradient-to-t from-[#0e0124] to-[#22074d] p-2 text-center text-lg font-light;
  }
}
.winner {
  background: -webkit-linear-gradient(#fae209, #465206);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
